:host{
  // parent component has display Grid
  grid-column: 1 / -1;

  display: flex;
  background-color: hsla(0, 0%, 0%, 1);
  color: white;
  padding: .5rem;
  gap: 1rem;
  overflow: hidden;
  position: relative;
}



  
.headers-container{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: .5rem;

  
    .header-h1{
      font-weight: bold;
      font-size: clamp(16px, 3vw, 3rem);
      line-height: 50px;
      width: 70%;
      flex-basis: 20%;
      color: white;
      margin: 0;

      .headers-h1-first-letter{
        padding-left: 10px;
        background-color: red;
        border-radius: 50%;
        text-align: center;
      }
    }
    

    


    .header-h4{
      box-sizing: border-box;
      padding: .5rem;
      font-size: clamp(12px, 1.2vw, 1rem);
      width: 70%;
    }
     
}

.demo-video-container{
  perspective: 1000px;
  flex-basis: 50%;

    .demo-video{
      height: 100%;
      width: 100%;
      transform: rotateY(-15deg) translateZ(50px);
    }
}



@media(max-width: 800px) {
  :host{
    flex-direction: column;
    gap: 0;
  }
 
  .headers-container{
    align-items: center;
  }
    
  
}









