<div class="login-container">
     
    <div class="logo-container">
       <app-landing-page-logo>
       </app-landing-page-logo>
     </div>
         
    <div class="video-container">
          <app-landing-page-video-background>
          </app-landing-page-video-background>
    </div>
      
      <app-landing-page-form-wrapper>
        <app-landing-page-form-fields (showLoading)="loading()">
        </app-landing-page-form-fields>
      </app-landing-page-form-wrapper>
    
  </div>

<!-- The intro loading effect component after filling-out the form -->
 <ng-container *ngIf="showLoading | async">
   <app-loading></app-loading>         
 </ng-container>

 



         
    
    

    
       

     
       
      


       

    

