:host{
  display: block;
  padding-top: 8px;
 }
  
  
$text-color: white;
$background-color: red;

@mixin dimensions($width, $height, $padding) {
       width: $width;
       height: $height;
       padding: $padding;
}

.login-button{
  background-color: $background-color;
  @include dimensions(5rem, 2rem, 5px);
  outline: none;
  border: none;
  color: $text-color;
  border-radius: 10px;
  font-size: 14px;
  transition: all 400ms ease;
  z-index: 1;

  &::after{
      position: absolute;
      content: '';
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: transparent;
      // clip-path: circle(10% at 100% 0);
      clip-path: circle(8.3% at 95% 0);
      transition: 400ms all ease;
      z-index: -1;
      pointer-events: none;
     }

    &:hover::after{
        // clip-path: circle(25% at 100% 0);
        clip-path: circle(17.9% at 95% 0);
        background-color: rgb(202, 5, 5);
     }
        
}
    
 
 .login-button:hover{
   color: $background-color;
   font-weight: bold;
   background-color: $text-color;
   box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.267);

 }


  
 
@media(max-width: 800px) {
  .login-button{
    @include dimensions(3rem, 1.2rem, 5px);
    font-size: 8px;
    padding: 2.5px;
    }
}

       
       
  