<!--  Movie Trailer Player Component -->


<!-- <ng-container *ngIf="trailerId | async as id">
    <app-movie-trailer 
        (closePlayer)="onClosePlayer()" 
        [videoId]="id"
        [width]="1000"
        [height]="600">
    </app-movie-trailer>
</ng-container> -->

  <!-- Movie Preview/Info Component  -->



  <!-- <ng-container *ngIf="movieInfo | async as preview">
      <app-movie-info 
        [movieInfo]="preview"
        [imageUrl]="movieImages"
        (closeInfo)="onClosePreview()">
      </app-movie-info>  
  </ng-container> -->


<!-- Home Page Components -->
<app-home-banner></app-home-banner>
<app-netflix-original title="ORIGINAL SHOWS" ></app-netflix-original>
<app-netflix-original title="ORIGINAL MOVIES" ></app-netflix-original>
<app-netflix-original title="TRENDING"></app-netflix-original>
<app-netflix-original title="TOP RATED MOVIES" ></app-netflix-original>
<app-netflix-original title="TOP RATED SHOWS" ></app-netflix-original>
<app-netflix-original title="POPULAR SHOWS" ></app-netflix-original>
<app-netflix-original title="POPULAR MOVIES" ></app-netflix-original>


 
