<div class="input-container">
    <label for="input" class="label" [class.moveUp]="moveUp">
        {{ label }}
    </label>
        <input [type]="type" id="input"
               [value]="initialValue"
              (input)="onValueChange($event)"
              (blur)="onTouched()"
              (focus)="onFocus()"
              [style.--border-color]="borderColor"
              [style.--border-color-focus]="borderColorFocus"
        />
                             

    <svg class="border-container">
        <line x1="0" y1="100%" x1="100%" y1="100%" [class.moveLine]="moveUp" [class.invalid]="validity"/>
    </svg>
              
</div>


