   

    <div class="registration-heading-container">
      <h1 class='registration-heading-h1'>
        YOUR HOME CINEMA
      </h1>

      <div class='registration-heading-h2-container'>
      <h2 class="registration-heading-h2">
        Unlimited Shows, Movies, And Documentaries
      </h2>
      </div>

    </div>


    <div @registrationAnimation class="registration-form">
       <div class="registration-field-wrapper">
          <mat-form-field appearance="fill" class="registration-field">
            <mat-label>Enter your email</mat-label>
            <input type="text" matInput  [formControl]="email">
            <mat-error *ngIf="email.invalid">{{ getErrorMessage }}</mat-error>
          </mat-form-field> 
        </div>

      <button (click)="onSubmit()" class="registration-button">Get Started</button>
    </div>



