$width: 100%;
$height: 100%;
$animation-time: 300ms;

:host{
  --border-color: grey;
  --border-color-focus: white;
  --text-color: white;
  --text-color-focus: grey;
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
  width: $width;
  height: $height;;

}
  
  
.input-container{
  position: relative;
  width: $width;
  height: $height;
  z-index: 1;
  // overflow: hidden;
  // outline: 1px solid yellow;
  .error-message{
  position: absolute;
  width: $width;
  height: $height;
  top: 100%;
  left: 0%;
  color: red;
  font-size: .8rem;
}

.border-container{
  position: absolute;
  top: 99;
  bottom: 0;
  left: 0;
  width: $width;
  height: 4%;
  box-sizing: border-box;
  // border: 1px solid yellow;

  line{
    stroke: var(--border-color-focus);
    stroke-width: 100%;
    transition: all $animation-time ease;
    stroke-dasharray:  0 150%;
        &.moveLine{
        stroke-dasharray: 150% 0;
      }

       &.invalid{
         stroke-dasharray: 150% 0;
         stroke: red;
       }
    }
  }
}
  

#input{
  display: block;
  color: var(--text-color);
  box-sizing: border-box;
  display: flex;
  width: $width;
  height: $height;
  border: none;
  outline: none;
  font-size: inherit;
  padding-top: 3%;
  background-color: transparent;
  border-bottom: 1px solid;
  border-bottom-color: var(--border-color);
  transition: all $animation-time ease;

}

.label{
  box-sizing:border-box;
  display: flex;
  align-items: center;
  cursor: text;
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 0%;
  width: $width;
  height: $height;
  font-size: 14px;
  transition: all $animation-time cubic-bezier(0.215, 0.610, 0.355, 1);
  color: var(--text-color-focus);
  &.moveUp{
    height: 30%;
    font-size: 8px;
    
  }
}



 
  
  

    
    