  
<header class="header-grid">
  <!-- <app-landing-page-navigation>
      <app-landing-page-logo>
      </app-landing-page-logo>

      <app-landing-page-login-button>
        SING IN
      </app-landing-page-login-button>
  </app-landing-page-navigation> -->
      
      
  <app-landing-page-video-background>
    <app-landing-page-registration>
    </app-landing-page-registration>
  </app-landing-page-video-background>
</header>
      
  

  <section class="section-grid">
    <app-landing-page-video-demo
        appObserveAndAnimate 
        [title]="demos.first">
    </app-landing-page-video-demo>
    
    <app-landing-page-video-demo 
        appObserveAndAnimate 
        [title]="demos.second">
    </app-landing-page-video-demo>
    
    <app-landing-page-video-demo 
        appObserveAndAnimate 
        [title]="demos.third">
    </app-landing-page-video-demo>
    
  </section>
        
  <footer class="footer-grid">
    <app-navigation-page-footer>
    </app-navigation-page-footer>
  </footer>      
      
    


  


