:host{
  display: block;
  box-sizing: border-box;
  margin: 0;
  background-color: hsla(0, 0%, 0%, 1);  
}

.header-grid{
  width: 100%;
  display: grid;
  grid-template: .5fr 80vh / repeat(2, 1fr);
}

//repeat(2, 50vh)
.section-grid{
  display: grid;
  grid-template: 60vh repeat(2, 50vh)  / repeat(2, 1fr);
}


.footer-grid{
  display: grid;
  grid-template: 20vh / 1fr;
}
  


@media(max-width: 800px) {
  .section-grid{
    grid-template-rows: repeat(3, 1fr);
  }
}
  


    
    

    
    
  