  
<header class="header-grid">
  <app-landing-page-navigation>
      <app-landing-page-logo>
      </app-landing-page-logo>

      <app-landing-page-login-button>
      </app-landing-page-login-button>
  </app-landing-page-navigation>
      
      
  <app-landing-page-video-background>
  </app-landing-page-video-background>
</header>
  

  <section class="section-grid">
    <app-landing-page-video-demo 
        [title]="demos.first">
    </app-landing-page-video-demo>
    <app-landing-page-video-demo 
        [title]="demos.second">
    </app-landing-page-video-demo>
    <app-landing-page-video-demo 
        [title]="demos.third">
    </app-landing-page-video-demo>
  </section>
      
      
    


  


