:host{
  box-sizing: border-box;
  display: block;
  color: white;
  position: relative;
  padding: 1rem;
  background-color: black;
   z-index: 1;
   &::before{
     position: absolute;
     content: '';
     top: 10%;
     left: 0;
     width: 5%;
     height: 90%;
     z-index: 2;
   }

   &::after{
     position: absolute;
     content: '';
     top: 10%;
     right: 0;
     width: 5%;
     height: 90%;
     z-index: 2;
   }
   h1{
     font-size: clamp(1rem, 4vw, 2rem);
   }

   .n{
     color: rgba(255, 0, 0, 0.87);
     font-weight: bold;
     font-size: clamp(1.1rem, 4vw, 2.1rem);
     line-height: 10px;
   }

   
}
  
.image-container{
  box-sizing: border-box;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-top: 2rem;
  padding-bottom: 2rem;
  cursor: pointer;
  
  &::-webkit-scrollbar {
   display: none;
  }

  &:hover .overlay{
    transform: translateX(-20px);
  }
  

  .overlay{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    position: relative;
    transition: transform 400ms ease-in-out;
    position: relative;
    margin: 5px;

    
    &::after{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.151);
      transform: scaleX(0);
      transition: transform 400ms ease;
      transform-origin: left;
    }
    
    &:hover::after{
      transform: scaleX(1);
    }
    &:hover ~.overlay{
      transform: translateX(20px);
    }
    &:hover {
      transform: scale(1.2);
    }

    &:hover button{
        transform: translateY(0%);
        opacity: 1;
    }


      button{
        position: absolute;
        left: 25%;
        bottom: 8%;
        width: 50%;
        height: 30px;
        border: none;
        outline: none;
        background-color: black;
        color: white;
        transition: all 500ms ease;
        transform: translateY(100%);
        opacity: 0;
        z-index: 2;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px;
        box-sizing: border-box;

        &:hover{
          background-color: rgba(255, 255, 255, 0.5);
          color: black;
          font-weight: bold;
        }

        .info{
          width: 20px;
          height: 20px;
          
        }
      }


        


    }
  }

    img{
      box-sizing: border-box;
      width: 250px;
      max-height: 400px;
      object-fit: contain;
      box-shadow: 5px 5px 20px 1px rgba(2, 2, 2, 0.541);

      @media (max-width: 800px) {
        width: 210px;
        height: 350px;
      }

      @media (max-width: 600px) {
        width: 190px;
        height: 300px;
      }
      
    }

    


      
        
     
    
  

