:host{
  box-sizing: border-box;
  display: block;
  background-color: #111;
  border: 1px solid red;
  flex-basis: 20%;
}

  
  
  
.movies-container{
  box-sizing: border-box;
  display: flex;
  overflow-y: hidden;
  cursor: pointer;
  height: 100%;
  &::-webkit-scrollbar {
   display: none;
  }
  
  .image-container{
    box-sizing: border-box;
    border: 1px solid yellow;
    width: 100%;
    height: 100%;
    margin: .5rem;
    transition: transform 400ms ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
        
     img{
      width: 300px;
      max-height: 300px;
      object-fit: contain;
    }
     
  }
    
  
}

