:host{
  display: block;
  box-sizing: border-box;
  background-color: black;
  height: 30vh;
  padding: 10px;
  
.header{
    color: white;
    width: 50%;
    box-sizing: border-box;
    padding-left: 1rem;
    font-size: clamp(20px, 3vw, 2rem);
  
  }

}
  

  
  
.movies-container{
  &::-webkit-scrollbar {
   display: none;
  }
  box-shadow: 1px 1px 100px 10px rgba(0, 0, 0, 0.534);
  height: 80%;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  overflow-y: hidden;
  cursor: pointer;
  &:hover .image-container{
     transform: translateX(-20px);
  }
  
  @media (max-width: 800px) {
    height: 70%;
  }

  .image-container{
    box-sizing: border-box;
    height: 100%;
    margin: 5px;
    transition: all 400ms ease-in-out;
      &:hover {
        transform: scale(1.1);
      }

      &:hover ~.image-container{
        transform: translateX(20px);
      }
        
     img{
      width: 300px;
      max-height: 300px;
      object-fit: contain;
      @media (max-width: 800px) {
        width: 250px;
      }

      @media (max-width: 600px) {
        width: 220px;
      }
    }
     
  }
     
}
    
  

