:host{
  display: flex;
  box-sizing: border-box;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 29, 29, 0.707);
  z-index: 2000;
  cursor: pointer;
}


.player-container{
  position: fixed;
  padding: 0;
  box-sizing: border-box;

  .container{
    position: relative;
    padding: 0;
    margin: 0;
    .player{
     display: flex;

   @media (max-width: 900px) {
        width: 600px; 
     }

     @media (max-width: 630px) {
            width: 400px;
            
     }
            
   }
  }
  button{
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 5%;
    border: none;
    outline: none;
    font-size: clamp(10px, 1vw, 1rem);
    background-color: red;
    color: white;
    font-weight: bold;
    z-index: 100;
  }
  }



  





 