:host{
  display: flex;
  flex-direction: column;
}
  
  
  

section{
  box-sizing: border-box;
  height: 90vh;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(0deg, rgba(39, 35, 35, 0.5), rgba(0, 0, 0, 0.856));
  border-bottom: 5px solid grey;
}

  video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    
  }
    
    

    
    
  