:host{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

  
.form{
  box-sizing: border-box;
  height: 90%;
  width: 90%;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .error-message{
    position: absolute;
    top: 0%;
    left: 10%;
    width: 80%;
    height: 8%;
    color: red;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.274);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
    
.form-field-container{
    box-sizing: border-box;
    flex-basis: 10%;
    width: 100%;
  }
  
  .submit-button-container{
    flex-basis: 10%;
    width: 80%;
    outline: none;
    border: none;
    
  }
}
    
    
    

 

    

  
  
  

  