<ng-container *ngIf="shows | async as movies">
    
    <h1 class="header">{{ genre }}</h1>  
    <div class="shows-container">
      <ng-container *ngFor="let movie of movies">
            
        <ng-container *ngIf="movie.backdrop_path">
            <div class="image-container">
              <img (click)="getShowInfo(movie)" [src]="images+ movie.backdrop_path" alt="movie_poster">
            </div>
        </ng-container>

      </ng-container>
    </div>

   
 </ng-container>

          
   


