:host{
  display: block;
  box-sizing: border-box;
  background-color: rgba(17, 17, 17, 0.664);
  padding: 10px;
  height: 30vh;
  .header{
    color: white;
    width: 50%;
    box-sizing: border-box;
    padding-left: 1rem;
  }

  
}
  
.shows-container{
  &::-webkit-scrollbar {
   display: none;
  }
  height: 80%;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  overflow-y: hidden;
  cursor: pointer;
  box-shadow: 1px 1px 100px 10px rgba(0, 0, 0, 0.534);
  &:hover .image-container{
     transform: translateX(-20px);
  }

  .image-container{
    height: 100%;
    margin: 5px;
    transition: transform 400ms ease-in-out;
      &:hover {
        transform: scale(1.1);
      }

      &:hover ~.image-container{
        transform: translateX(20px);
      }
        
     img{
      width: 300px;
      max-height: 300px;
      object-fit: contain;
    }
     
  }
     
}
    
  

