
<app-movie genre="Action"></app-movie>
<app-movie genre="Adventure"></app-movie>
<app-movie genre="Crime"></app-movie>
<app-movie genre="Drama"></app-movie>
<app-movie genre="Fantasy"></app-movie>
<app-movie genre="Family"></app-movie>
<app-movie genre="Documentary"></app-movie>
<app-movie genre="History"></app-movie>
<app-movie genre="Horror"></app-movie>
<app-movie genre="Mystery"></app-movie>
<app-movie genre="Romance"></app-movie>
<app-movie genre="Science Fiction"></app-movie>
<app-movie genre="Music"></app-movie>
<app-movie genre="Comedy"></app-movie>
<app-movie genre="TV Movie"></app-movie>
<app-movie genre="Thriller"></app-movie>
<app-movie genre="War"></app-movie>
<app-movie genre="Western"></app-movie>
<app-movie genre="Animation"></app-movie>
