

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button{
  cursor: pointer;
}
  
body{
  scrollbar-width: none;
  background-color: #111;
} 

body::-webkit-scrollbar {
  display: none;
}

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
