<button (click)="toggleButtonsState() "class="collection-button">COLLECTION</button>
  
  <ng-container *ngIf="showButtons">
    
    <app-collection-button
       *ngIf="showOrHide('/home')"
       (click)="toggleButtonsState()"
       [appActivateRoute]="'home'">
       HOME
    </app-collection-button>
    
    <app-collection-button
      *ngIf="showOrHide('/movies')"
      (click)="toggleButtonsState()"
      [appActivateRoute]="'movies'">
       MOVIES
    </app-collection-button>

    <app-collection-button
      *ngIf="showOrHide('/shows')"
      (click)="toggleButtonsState()"
      [appActivateRoute]="'shows'">
       SHOWS
    </app-collection-button>
    
    <app-collection-button
      *ngIf="showOrHide('/search')"
      (click)="toggleButtonsState()"
      [appActivateRoute]="'search'">
      SEARCH
    </app-collection-button>
      
  </ng-container>

  



