:host{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1.3rem;
  right: 16%;
  z-index: 100;
  width: 12%;
  box-sizing: border-box;
  height: 9.5rem;
  padding: 0;
  @media(max-width: 1000px){
      right: 45%;
      width: 5rem;
      height: 8rem;
      top: 1.8rem;
  }

  @media (max-width: 500px) {
     height: 6rem;
     right: 40%;
  }

}


.collection-button{
  flex-basis: 25%;
  background-color: white;
  color: red;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: clamp(10px, 1vw, 2rem);
  outline: none;
  border: none;
  border: 1px solid transparent;
  transition: all 300ms ease;
  &:hover{
    
    background-color: black;
    border-color: white;
    
  }

  @media (max-width: 1000px) {
       flex-basis: 20%;
  }
}




  