
<app-show genre="Action & Adventure"></app-show>
<app-show genre="Crime"></app-show>
<app-show genre="Drama"></app-show>
<app-show genre="Mystery"></app-show>
<app-show genre="Sci-Fi & Fantasy"></app-show>
<app-show genre="Documentary"></app-show>
<app-show genre="Family"></app-show>
<app-show genre="Comedy"></app-show>
<app-show genre="News"></app-show>
<app-show genre="Reality"></app-show>
<app-show genre="Talk"></app-show>
<app-show genre="Soap"></app-show>
<app-show genre="War & Politics"></app-show>
<app-show genre="Western"></app-show>
<app-show genre="Kids"></app-show>
<app-show genre="Animation"></app-show>
