:host{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: fixed;
}

.container{
  background-color: black;
  box-sizing: border-box;
  width: 50%;
  height: 15%;
  position: relative;
  top: 10%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .header{
    color: white;
    flex-basis: 50%;
    font-size: clamp(15px, 1.5vw, 2rem);
 
  }
}
.buttons{
   outline: none;
   border: none;
   color: white;
   flex-basis: 18%;
   height: 22%;
  font-weight: bold;
  transition: all 300ms ease;
  border-radius: 5px;
  
}

.buttons.confirm{
  background-color: rgba(255, 0, 0, 0.795);
  &:hover{
    background-color: red;
  }
}
.buttons.reject{
  background-color: rgba(255, 255, 255, 0.836);
  color: black;
  &:hover{
    background-color: white;
  }
}

@media (max-width: 950px) {
    .container{
      flex-direction: column;
      width: 60%;
    }
    .header{
      flex-basis: 30%;
      padding: 10px;
    }

   .buttons{
      width: 30%;
   }
}


@media (max-width: 400px) {
   .container{
     width: 80%;
   }
}